<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GARbro.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <GARbro.GUI.Properties.Settings>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="winTop" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="winLeft" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="winWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="winHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="winState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="lvNameColumnWidth" serializeAs="String">
                <value>265</value>
            </setting>
            <setting name="lvTypeColumnWidth" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="lvSizeColumnWidth" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="lvSortColumn" serializeAs="String">
                <value>Name</value>
            </setting>
            <setting name="lvSortDirection" serializeAs="String">
                <value>Ascending</value>
            </setting>
            <setting name="lvPanelWidth" serializeAs="String">
                <value>448</value>
            </setting>
            <setting name="appExtractImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="appExtractText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="appImageFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="appTextEncoding" serializeAs="String">
                <value>65001</value>
            </setting>
            <setting name="appLastDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="appArchiveFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="appLastCreatedArchive" serializeAs="String">
                <value />
            </setting>
            <setting name="winMenuBarVisibility" serializeAs="String">
                <value>Visible</value>
            </setting>
            <setting name="winToolBarVisibility" serializeAs="String">
                <value>Visible</value>
            </setting>
            <setting name="winStatusBarVisibility" serializeAs="String">
                <value>Visible</value>
            </setting>
            <setting name="appLastImageFormat" serializeAs="String">
                <value>PNG</value>
            </setting>
            <setting name="appConvertAudio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="appExtractAudio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="appIgnoreConversionErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="appLastDestination" serializeAs="String">
                <value />
            </setting>
            <setting name="winDownScaleImage" serializeAs="String">
                <value>False</value>
            </setting>
        </GARbro.GUI.Properties.Settings>
    </userSettings>
</configuration>
