<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NAudio" version="1.10.0" targetFramework="net46" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net46" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net46" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net46" />
</packages>