<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Concentus" version="1.1.7" targetFramework="net46" />
  <package id="Concentus.OggFile" version="1.0.3" targetFramework="net46" />
  <package id="Microsoft.NETCore.Platforms" version="2.0.0" targetFramework="net46" />
  <package id="MSFTCompressionCab" version="1.0.0" targetFramework="net46" />
  <package id="NETStandard.Library" version="2.0.1" targetFramework="net46" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net46" />
  <package id="YaccLexTools" version="0.2.2" targetFramework="net46" />
</packages>