<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GameRes.Formats.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <GameRes.Formats.Properties.Settings>
            <setting name="NPAScheme" serializeAs="String">
                <value />
            </setting>
            <setting name="XP3Scheme" serializeAs="String">
                <value />
            </setting>
            <setting name="YPFKey" serializeAs="String">
                <value>4294967295</value>
            </setting>
            <setting name="XP3CompressHeader" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XP3CompressContents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XP3Version" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="XP3RetainStructure" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SGFileNameEncoding" serializeAs="String">
                <value>shift-jis</value>
            </setting>
            <setting name="ONSCompression" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="AMIBaseArchive" serializeAs="String">
                <value />
            </setting>
            <setting name="AMIUseBaseArchive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PDScrambleContents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="YPFVersion" serializeAs="String">
                <value>290</value>
            </setting>
            <setting name="RPAKey" serializeAs="String">
                <value>1111638594</value>
            </setting>
            <setting name="NPACompressContents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NPAKey1" serializeAs="String">
                <value>1095188814</value>
            </setting>
            <setting name="NPAKey2" serializeAs="String">
                <value>555831124</value>
            </setting>
            <setting name="WARCNameLength" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="KCAPPassPhrase" serializeAs="String">
                <value />
            </setting>
            <setting name="KCAPScheme" serializeAs="String">
                <value />
            </setting>
        </GameRes.Formats.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
