<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GameRes.Formats.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GameRes.Formats.Properties.Settings>
            <setting name="NPAScheme" serializeAs="String">
                <value />
            </setting>
            <setting name="XP3Scheme" serializeAs="String">
                <value />
            </setting>
            <setting name="YPFKey" serializeAs="String">
                <value>4294967295</value>
            </setting>
            <setting name="XP3CompressHeader" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XP3CompressContents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XP3Version" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="XP3RetainStructure" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SGFileNameEncoding" serializeAs="String">
                <value>shift-jis</value>
            </setting>
            <setting name="ONSCompression" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="AMIBaseArchive" serializeAs="String">
                <value />
            </setting>
            <setting name="AMIUseBaseArchive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PDScrambleContents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="YPFVersion" serializeAs="String">
                <value>290</value>
            </setting>
            <setting name="RPAKey" serializeAs="String">
                <value>1111638594</value>
            </setting>
            <setting name="NPACompressContents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NPAKey1" serializeAs="String">
                <value>1095188814</value>
            </setting>
            <setting name="NPAKey2" serializeAs="String">
                <value>555831124</value>
            </setting>
            <setting name="ARCNameLength" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="KCAPPassPhrase" serializeAs="String">
                <value />
            </setting>
            <setting name="KCAPScheme" serializeAs="String">
                <value />
            </setting>
            <setting name="WARCScheme" serializeAs="String">
                <value />
            </setting>
            <setting name="LPKScheme" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="NOAScheme" serializeAs="String">
                <value />
            </setting>
            <setting name="NOAPassPhrase" serializeAs="String">
                <value />
            </setting>
            <setting name="DPKKey1" serializeAs="String">
                <value>65432</value>
            </setting>
            <setting name="DPKKey2" serializeAs="String">
                <value>1139247708</value>
            </setting>
            <setting name="DPKLastScheme" serializeAs="String">
                <value />
            </setting>
            <setting name="MBLPassPhrase" serializeAs="String">
                <value />
            </setting>
            <setting name="ISFScheme" serializeAs="String">
                <value />
            </setting>
            <setting name="MCGLastKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RCTPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="RCTTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="NSAPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="NSATitle" serializeAs="String">
                <value />
            </setting>
            <setting name="RPMScheme" serializeAs="String">
                <value />
            </setting>
            <setting name="QLIEScheme" serializeAs="String">
                <value />
            </setting>
            <setting name="YPFScheme" serializeAs="String">
                <value />
            </setting>
            <setting name="ZIPCompression" serializeAs="String">
                <value>Optimal</value>
            </setting>
            <setting name="ZIPEncodingCP" serializeAs="String">
                <value>932</value>
            </setting>
            <setting name="AZScriptScheme" serializeAs="String">
                <value />
            </setting>
            <setting name="AGSTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="NCARCScheme" serializeAs="String">
                <value />
            </setting>
            <setting name="MEDScriptScheme" serializeAs="String">
                <value />
            </setting>
            <setting name="GALKey" serializeAs="String">
                <value />
            </setting>
            <setting name="MGPKTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="BELLTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="NPKScheme" serializeAs="String">
                <value />
            </setting>
            <setting name="TacticsArcPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="TacticsArcTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="GYUTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="PAZTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="EAGLSEncryption" serializeAs="String">
                <value />
            </setting>
            <setting name="FJSYSPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="PCKTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="RCTOverlayFrames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RCTApplyMask" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ZIPPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="OGGFixCrc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PFSEncodingCP" serializeAs="String">
                <value>65001</value>
            </setting>
            <setting name="ODNAudioSampleRate" serializeAs="String">
                <value>44100</value>
            </setting>
            <setting name="NOAEncodingCP" serializeAs="String">
                <value>932</value>
            </setting>
            <setting name="LEAFTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="SJDatTitle" serializeAs="String">
                <value />
            </setting>
        </GameRes.Formats.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
