<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GameRes.Formats.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GameRes.Formats.Properties.Settings>
            <setting name="NPAScheme" serializeAs="String">
                <value>NotEncrypted</value>
            </setting>
            <setting name="XP3Scheme" serializeAs="String">
                <value />
            </setting>
            <setting name="YPFKey" serializeAs="String">
                <value>4294967295</value>
            </setting>
        </GameRes.Formats.Properties.Settings>
    </userSettings>
</configuration>